/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/application.yml
config/credentials.yml.enc
config/database.yml
config/storage.yml
/coverage
/test
/public
