$black0_1: rgba(0, 0, 0, 0.1);
$black0_3: rgba(0, 0, 0, 0.3);
$black15: #212529b8;
$blue35: #179b81;
$blue38: #19aa8d;
$blue40: #0062cc;
$blue52: #50b8b3;
$blue61: #70c5c0;
$gray20: #333333;
$gray31: #495057;
$gray45: #66757f;
$gray48: #7a7a7a;
$gray51: #818182;
$gray88: #e1e1e1;
$gray89: #e3e3e3;
$gray93: #ececec;
$green40: #468847;
$green85: #d6e9c6;
$green89: #dff0d8;
$tomato: #ff6347;
$white50: #b94a48;
$white88: #eed3d7;
$white91: #f2dede;
$white94: #ecf0f1;
